.recommendedVideos {
  flex: 0.8;
  border: 2px solid black;
  /*height: 81vh;*/
  background-color: #f9f9f9;
}
.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}
.recommendedVideos__video {
  display: flex;
  flex-wrap: wrap;
}
