.SearchPage {
  flex: 0.8;
  background-color: #f9f9f9;
}
.searchpage__filter {
  display: flex;
  align-items: center;
  color: #606060;
  font-size: small;
}
.searchpage__filter > h2 {
  margin-left: 10px;
}
.searchpage__filter > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-bottom: 10px;
}
.hr {
  height: 1px;
  border: 0;
  background-color: black;
  margin-top: 30px;
}
