.sidebarRow {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 20px;
}
.sidebarRow__icon {
  font-size: 17px;
}
.sidebarRow__title {
  margin-left: 15px;
  font-size: 15px;
}
.sidebarRow:hover > .sidebarRow__icon {
  color: red;
  font-size: 25px;
}
.sidebarRow:hover > .sidebarRow__title {
  font-size: 18px;
}
.sidebarRow:hover {
  background-color: lightgray;
}
