.sidebar {
  flex: 0.2;
  background-color: whitesmoke;
  border: 0px solid grey;
}
.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}
