.videoRow {
  display: flex;
  padding: 10px;
}
.videoRow__text {
  margin-left: 15px;
  color: black !important;
  margin-bottom: 8px;
}
.videoRow__headline {
  color: black;
  margin-bottom: 10px;
}
.videoRow__description {
  color: black;
}
.videoRow > img {
  width: 246px;
  height: 130px;
}
